.item {
  background-color: white;
  border-radius: 10px;
  display: flex;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.08));
  flex-direction: column;
  overflow: hidden;
  width: 335px;
  &-descricao {
    background-color: #EFF9FF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
  }
  &-titulo {
    padding: 16px 16px 0 16px;
    h2 {
      color: #1875E8;
      font-size: 20px;
    }
    p {
      color: #444;
    }
  }

  &-imagem {
    margin: 0 auto;
  }

  &-info {
    display: flex;
    justify-content: space-between;
  }

  &-preco {
    align-items: center;
    background-color: #1875E8;
    color: white;
    display: flex;
    font-size: 20px;
    height: 70px;
    justify-content: center;
    width: 170px;
  }
  &-acoes {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: space-evenly;
  }

  &-acao {
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

.itemNoCarrinho {
  align-items: center;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  .quantidade {
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: center;
    svg {
      cursor: pointer;
    }
  }
  .item-acoes {
    gap: 50px;
    justify-content: flex-end;
    padding: 0 50px;
  }
}
