@import 'styles/breakpoints';

.header {
  background-image: url('/assets/fundo.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 120px 100px 120px;
  position: relative;
  @media(max-width: $tablet) {
    padding-top: 250px;
  }
  @media(max-width: $mobile-sm) {
    padding: 250px 50px 100px 50px;
  }
}