@import 'styles/breakpoints';

.header {
  background-image: url('/assets/fundo.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 120px 100px 120px;
  position: relative;
  @media(max-width: $tablet) {
    padding-top: 250px;
  }
  @media(max-width: $mobile-sm) {
    padding: 250px 50px 100px 50px;
  }
}

.header {
  display: grid;
  grid-template-areas: 'texto imagem';
  grid-template-columns: 1fr 2fr;
  justify-content: space-between;
  @media(max-width: $tablet) {
    gap: 20px;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 'texto' 'imagem';
    text-align: center;
  }
  &-texto {
    color: white;
    grid-area: texto;
    h1 {
      font-size: 60px;
    }
    h2 {
      font-size: 25px;
    }
  }
  &-button {
    display: flex;
    @media(max-width: $tablet) {
      justify-content: center;
    }
  }
  &-imagem {
    align-self: center;
    grid-area: imagem;
    justify-self: center;
    overflow: hidden;
    max-width: 700px;
    img {
      border-radius: 144px;
      width: 100%;
    }
  }
}